<div class="contenedor">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#26b4ff" fill-opacity="1" d="M0,192L480,0L960,64L1440,160L1440,0L960,0L480,0L0,0Z"></path>
    </svg>

    <div class="h-100 d-vertical">
        <img src="assets/iconos/404.jpg" class="img-404">
    </div>

    <div class="div-texto">
        <div class="row p-5">
            <div class="col-10">
                <label class="text-justify w-100">La página a la cual deseas acceder no existe o no tienes permisos, da
                    clic en el botón para redirigirte al inicio.</label>
            </div>
            <div class="col-2 h-100 d-vertical">
                <a routerLink="/" routerLinkActive="active" class="btn text-info rounded-pill border border-primary p-3">
                    <i class="fas fa-home"></i>
                </a>
            </div>
        </div>
    </div>
</div>