<div id="contenedor" class="container-fluid contenedor">
    <div class="row">
        <app-menu id="menu" class="sideBar"></app-menu>
        <app-nav-bar id="sidenav" class="sideNav"></app-nav-bar>
        <div id="Contenido" class="contenidoNormal" *ngIf="userAuth">
            <div id="carta" class="contenido-outled">
                <p-toast [style]="{marginTop: '80px'}" position="top-right" key="toast"></p-toast>
                <app-breadcrumb class="breadcrumb-v1"></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarSideUser">
    <app-side-user [@fadeAnimation]="mostrarSideUser" (click)="clickSides($event)" class="side-user shadow"></app-side-user>
</div>

<div *ngIf="mostrarSideViews">
    <app-side-views [@SlideAnimation]="mostrarSideViews" (Modal)="emptySides()" (click)="clickSides($event)" class="side-views"></app-side-views>
</div>