/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Open Sans', sans-serif;
}

#span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}


/* Carta */

.carta-Normal {
    width: 100% !important;
    background-color: #fff;
    height: calc(100vh - 111px);
    padding: 1rem;
    margin-top: .43em;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 1em;
    border: 0px;
    overflow-x: scroll;
}

.carta-Normal.dark {
    background-color: #000;
}

.carta-Normal-dashboard {
    width: 100% !important;
    height: calc(100vh - 107px);
    background-color: #f4f6f9;
    margin-top: .43em;
    border-top: 1px solid #03adc7;
    padding: 1em;
    overflow-x: scroll;
}

.carta-Normal-dashboard.dark {
    transition: 3s ease all;
    background-color: #000;
}


/* FIN Carta */


/*selector item*/
.lstick.widget-card {
    top: 1px!important;
}

.lstick {
    background: #398bf7;
    width: 3px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 15px;
}

.bg-info {
    background-color: #398bf7!important;
}
/**/


/* SideBar */
.shadow-Modales {
    box-shadow: 21em 5em 2.5rem 85rem rgba(0, 0, 0, .15)!important;
}
/* SideBar */


/* ui Widget */

.ui-widget {
    font-family: "Open Sans", sans-serif;
    font-size: 13px !important;
    text-decoration: none;
}


/* FIN ui Widget */


/* Sidebar Right */

.ui-sidebar {
    border-left: 1px solid #c8c8c8;
    box-shadow: 12em 5em 2.5rem 85rem rgba(0, 0, 0, .15)!important;
}

.ui-sidebar-right {
    height: calc(100vh - 48px);
    top: 48px;
}

.text-title {
    font-family: 'Open Sans', sans-serif;
    color: #6c757d!important;
    margin: 0;
    font-size: 1.5em;
}


/* FIN  Sidebar Right */

/* DropDown */

.ui-dropdown {
    border: 1px solid #e8e2e2 !important;
}


/* DropDown */

/* Table */

.ui-table-summary {
    border: 0px solid #c8c8c8 !important;
    background-color: transparent !important;
    color: #5d5d5d!important;
    padding-top: 1.5em !important;
    height: 5vh !important;
    font-weight: normal !important;
    font-size: .9em !important;
}

.ui-paginator {
    color: #5d5d5d!important;
    background-color: transparent !important;
    padding: 0px !important;
    border: .0px solid #dee2e6!important;
    right: 1em !important;
    position: absolute;
    margin-top: .7em;
}

.ui-table .ui-table-tbody>tr>td {
    border: 0px solid #ebe5e5 !important;
    border-top: .5px solid #dee2e6 !important;
    border-bottom: .5px solid #dee2e6 !important;
}

.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last {
    color: #5d5d5d!important;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #249ac4!important;
    border-radius: 2em;
    color: #eaeaea !important;
}

.ui-table .ui-table-thead>tr>th {
    border: 1px solid #e9ecef!important;
    font-weight: 600!important;
    background-color: #f9f9f9!important;
}

.ui-table .ui-table-caption {
    border: 0px !important;
    background-color: transparent !important;
    color: #5d5d5d!important;
    height: 8vh !important;
}

.pi-sort-down {
    color: #170a19 !important;
}

.pi-sort-up {
    color: #170a19 !important;
}

*:focus {
    outline: none !important;
    border: none;
}

.input-buscar {
    display: block;
    position: absolute;
    width: 80%;
    right: 0;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
    color: #54667a;
    border: .5px solid #dee2e6;
    margin-top: -.4rem;
    transition: 0.5s ease-in;
    text-align: left;
    border-radius: .4rem !important;
}

.input-buscar:focus {
    width: 100%;
    outline: none !important;
    border: 1.5px solid #249ac4;
    box-shadow: 0 0 1.5px #249ac4;
}

.srn-btn {
    position: absolute;
    top: 0 !important;
    right: 10px !important;
    color: #249ac4 !important;
}

/* Column Priorities */

@media only all {
    th.ui-p-6,
    td.ui-p-6,
    th.ui-p-5,
    td.ui-p-5,
    th.ui-p-4,
    td.ui-p-4,
    th.ui-p-3,
    td.ui-p-3,
    th.ui-p-2,
    td.ui-p-2,
    th.ui-p-1,
    td.ui-p-1 {
        display: none;
    }
}


/* Show priority 1 at 320px (20em x 16px) */

@media screen and (min-width: 20em) {
    th.ui-p-1,
    td.ui-p-1 {
        display: table-cell;
    }
}

.img-in-table {
    width: 1vw;
    cursor: pointer;
}

.img-header-tabla {
    width: 2em;
    cursor: pointer;
    position: absolute;
}

.img-header-tabla-number {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: .8em;
    width: 2.5em;
    top: 1.1em;
}


/* Show priority 2 at 480px (30em x 16px) */

@media screen and (min-width: 30em) {
    th.ui-p-2,
    td.ui-p-2 {
        display: table-cell;
    }
}


/* Show priority 3 at 640px (40em x 16px) */

@media screen and (min-width: 40em) {
    th.ui-p-3,
    td.ui-p-3 {
        display: table-cell;
    }
}


/* Show priority 4 at 800px (50em x 16px) */

@media screen and (min-width: 50em) {
    th.ui-p-4,
    td.ui-p-4 {
        display: table-cell;
    }
}


/* Show priority 5 at 960px (60em x 16px) */

@media screen and (min-width: 60em) {
    th.ui-p-5,
    td.ui-p-5 {
        display: table-cell;
    }
}


/* Show priority 6 at 1,120px (70em x 16px) */

@media screen and (min-width: 70em) {
    th.ui-p-6,
    td.ui-p-6 {
        display: table-cell;
    }
}


/* FIN Table */


/* Toast */

.ui-toast {
    width: 23em;
}


/* error */

.ui-toast-message-error {
    background-color: #ef5350 !important;
}

.ui-toast-message-error>div {
    border: 2px solid #ef5350 !important;
}

.ui-toast-message-error>div>span {
    color: #fdfdf6 !important;
}

.ui-toast-message-error>div>div>div {
    color: #fdfdf6 !important;
}


/* success */

.ui-toast-message-success {
    background-color: #06d79c !important;
}

.ui-toast-message-success>div {
    border: 2px solid #06d79c !important;
}

.ui-toast-message-success>div>span {
    color: #fdfdf6 !important;
}

.ui-toast-message-success>div>div>div {
    color: #fdfdf6 !important;
}


/* info */

.ui-toast-message-info {
    background-color: #398bf7 !important;
}

.ui-toast-message-info>div {
    border: 2px solid #398bf7 !important;
}

.ui-toast-message-info>div>span {
    color: #fdfdf6 !important;
}

.ui-toast-message-info>div>div>div {
    color: #fdfdf6 !important;
}


/* warn */

.ui-toast-message-warn {
    background-color: #ffb22b !important;
}

.ui-toast-message-warn>div {
    border: 2px solid #ffb22b !important;
}

.ui-toast-message-warn>div>span {
    color: #fdfdf6 !important;
}

.ui-toast-message-warn>div>div>div {
    color: #fdfdf6 !important;
}

.ui-sidebar-close {
    display: none;
}


/* FIN Toast */


/* CELULAR */

@media only screen and (max-width: 640px) {
    .carta-Normal {
        width: 100% !important;
        height: calc(100vh - 93px);
        padding: .5em;
        border-radius: 0px;
        box-shadow: 0 0 0 0 !important;
        border: 0px;
    }
    .ui-tree {
        width: 95%;
        height: 54vh;
        position: absolute;
        margin-bottom: 2em;
        margin-left: -0.5rem;
    }
    .img-in-table {
        width: 1em;
    }
    .ui-table-summary {
        padding: 6em !important;
    }
    .espacio-top-mobile {
        margin-top: 2em;
    }
    .ui-inputswitch {
        margin: 0;
    }
    .tarjeta {
        border: 0px solid;
        padding: 0em;
    }
}